<% layout('layouts/app') %>

    <div class="row mb-5">
        <div class="col-6">
            <div class="card">
                <img src="<%= place.image %>" alt="judul" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= place.title %>
                    </h5>
                    <p class="card-text">
                        <%= place.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= place.location %>
                    </li>
                    <li class="list-group-item">
                        <%= place.price %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/places/<%= place._id %>/edit" class="btn btn-warning text-white">Edit</a>
                    <form action="/places/<%= place._id %>?_method=DELETE" method="post"
                        style="display: inline!important;">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3>Leave a Review</h3>
            <form action="/places/<%= place._id %>/reviews" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="rating">Rating</label>
                    <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range">
                </div>
                <div class="mb-3">
                    <label for="review">Review</label>
                    <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <% for(const item of place.review) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= item.rating %></h5>
                    <p class="card-text"><%= item.body %></p>
                    <form action="/places/<%= place._id %>/reviews/<%= item._id %>?_method=DELETE" method="post"
                        style="display: inline!important;">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>